name: '[CD] DeployPages'

on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  publish:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - working-directory: ui
        run: pnpm i

      - working-directory: ui
        env:
          SVELTE_BUILD_STATIC: true
        run: pnpm build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ui/build