name: '[CI] Try Build'

on:
  pull_request:
    branches:
    - main

jobs:
  build-node:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - working-directory: ui
        run: pnpm i

      - working-directory: ui
        env:
          SVELTE_BUILD_STATIC: true
        run: pnpm build

  build-static:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - working-directory: ui
        run: pnpm i

      - working-directory: ui
        run: pnpm build